@model List<String>
@{
    ViewBag.Title = "Index";
}

<h2>Ficheros encontrados en Azure Storage</h2>

<h3>@Html.ActionLink("Subir Archivo", "Subir", "Home")</h3>

@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <td>Nombre</td>
            
        </tr>
        @foreach (String file in Model)
        {
            <tr>
                <td>@file</td>
                
            </tr>
        }
    </table>
}
